In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report 
import re
import string 
import openai

In [7]:
# Specifying path to CSV files

file_fake = "C:\\Users\\timot\\OneDrive\\Desktop\\Fake (1).csv"
file_true = "C:\\Users\\timot\\OneDrive\\Desktop\\True.csv"

In [9]:
# Reading the CSV files into DataFrames

df1 = pd.read_csv(file_fake)
df2 = pd.read_csv(file_true)

C:\Users\timot\AppData\Local\Temp\ipykernel_10128\2196808078.py:3: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_fake)

In [10]:
# Print the data types of each column
print(df1.dtypes)

title           object
text            object
subject         object
date            object
Unnamed: 4      object
                 ...
Unnamed: 167    object
Unnamed: 168    object
Unnamed: 169    object
Unnamed: 170    object
Unnamed: 171    object
Length: 172, dtype: object

In [11]:
print(df2.dtypes)

title      object
text       object
subject    object
date       object
dtype: object

In [12]:
columns_df1 = df1.columns.tolist()
columns_df2 = df2.columns.tolist()

# Print the list of column names for df1
print("Column names for df1:", columns_df1)

# Print the list of column names for df2
print("Column names for df2:", columns_df2)

Column names for df1: ['title', 'text', 'subject', 'date', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88', 'Unnamed: 89', 'Unnamed: 90', 'Unnamed: 91', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94', 'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100', 'Unnamed: 101', 'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106', 'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110', 'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114', 'Unnamed: 115', 'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119', 'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123', 'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127', 'Unnamed: 128', 'Unnamed: 129', 'Unnamed: 130', 'Unnamed: 131', 'Unnamed: 132', 'Unnamed: 133', 'Unnamed: 134', 'Unnamed: 135', 'Unnamed: 136', 'Unnamed: 137', 'Unnamed: 138', 'Unnamed: 139', 'Unnamed: 140', 'Unnamed: 141', 'Unnamed: 142', 'Unnamed: 143', 'Unnamed: 144', 'Unnamed: 145', 'Unnamed: 146', 'Unnamed: 147', 'Unnamed: 148', 'Unnamed: 149', 'Unnamed: 150', 'Unnamed: 151', 'Unnamed: 152', 'Unnamed: 153', 'Unnamed: 154', 'Unnamed: 155', 'Unnamed: 156', 'Unnamed: 157', 'Unnamed: 158', 'Unnamed: 159', 'Unnamed: 160', 'Unnamed: 161', 'Unnamed: 162', 'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166', 'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170', 'Unnamed: 171']
Column names for df2: ['title', 'text', 'subject', 'date']

In [13]:
# Drop columns 4 to 171 from df1
df1 = df1.drop(df1.columns[4:172], axis=1)

# Printing the updated DataFrame
print(df1)

                                                   title  \
0       Donald Trump Sends Out Embarrassing New Year’...
1       Drunk Bragging Trump Staffer Started Russian ...
2       Sheriff David Clarke Becomes An Internet Joke...
3       Trump Is So Obsessed He Even Has Obama’s Name...
4       Pope Francis Just Called Out Donald Trump Dur...
...                                                  ...
23497  McPain: John McCain Furious That Iran Treated ...
23498  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
23499  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...
23500  How to Blow $700 Million: Al Jazeera America F...
23501  10 U.S. Navy Sailors Held by Iranian Military ...

                                                    text      subject  \
0      Donald Trump just couldn t wish all Americans ...         News
1      House Intelligence Committee Chairman Devin Nu...         News
2      On Friday, it was revealed that former Milwauk...         News
3      On Christmas day, Donald Trump announced that ...         News
4      Pope Francis used his annual Christmas Day mes...         News
...                                                  ...          ...
23497  21st Century Wire says As 21WIRE reported earl...  Middle-east
23498  21st Century Wire says It s a familiar theme. ...  Middle-east
23499  Patrick Henningsen  21st Century WireRemember ...  Middle-east
23500  21st Century Wire says Al Jazeera America will...  Middle-east
23501  21st Century Wire says As 21WIRE predicted in ...  Middle-east

            date
0      31-Dec-17
1      31-Dec-17
2      30-Dec-17
3      29-Dec-17
4      25-Dec-17
...          ...
23497  16-Jan-16
23498  16-Jan-16
23499  15-Jan-16
23500  14-Jan-16
23501  12-Jan-16

[23502 rows x 4 columns]

In [14]:
print(df2)

                                                   title  \
0      As U.S. budget fight looms, Republicans flip t...
1      U.S. military to accept transgender recruits o...
2      Senior U.S. Republican senator: 'Let Mr. Muell...
3      FBI Russia probe helped by Australian diplomat...
4      Trump wants Postal Service to charge 'much mor...
...                                                  ...
21412  'Fully committed' NATO backs new U.S. approach...
21413  LexisNexis withdrew two products from Chinese ...
21414  Minsk cultural hub becomes haven from authorities
21415  Vatican upbeat on possibility of Pope Francis ...
21416  Indonesia to buy $1.14 billion worth of Russia...

                                                    text       subject  \
0      WASHINGTON (Reuters) - The head of a conservat...  politicsNews
1      WASHINGTON (Reuters) - Transgender people will...  politicsNews
2      WASHINGTON (Reuters) - The special counsel inv...  politicsNews
3      WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews
4      SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews
...                                                  ...           ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...     worldnews
21413  LONDON (Reuters) - LexisNexis, a provider of l...     worldnews
21414  MINSK (Reuters) - In the shadow of disused Sov...     worldnews
21415  MOSCOW (Reuters) - Vatican Secretary of State ...     worldnews
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...     worldnews

            date
0      31-Dec-17
1      29-Dec-17
2      31-Dec-17
3      30-Dec-17
4      29-Dec-17
...          ...
21412  22-Aug-17
21413  22-Aug-17
21414  22-Aug-17
21415  22-Aug-17
21416  22-Aug-17

[21417 rows x 4 columns]

In [21]:
# Display the first few rows of df1
print("First few rows of df1:")
print(df1.head())

First few rows of df1:
                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...

                                                text subject       date  Class
0  Donald Trump just couldn t wish all Americans ...    News  31-Dec-17      0
1  House Intelligence Committee Chairman Devin Nu...    News  31-Dec-17      0
2  On Friday, it was revealed that former Milwauk...    News  30-Dec-17      0
3  On Christmas day, Donald Trump announced that ...    News  29-Dec-17      0
4  Pope Francis used his annual Christmas Day mes...    News  25-Dec-17      0

In [22]:
# Add a new column "Class" to each DataFrame and set the value
df1['Class'] = 0
df2['Class'] = 1

# Print the first few rows of each DataFrame to verify the changes
print("Fake Dataset:")
print(df1.head())

print("\nTrue Dataset:")
print(df2.head())

Fake Dataset:
                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...

                                                text subject       date  Class
0  Donald Trump just couldn t wish all Americans ...    News  31-Dec-17      0
1  House Intelligence Committee Chairman Devin Nu...    News  31-Dec-17      0
2  On Friday, it was revealed that former Milwauk...    News  30-Dec-17      0
3  On Christmas day, Donald Trump announced that ...    News  29-Dec-17      0
4  Pope Francis used his annual Christmas Day mes...    News  25-Dec-17      0

True Dataset:
                                               title  \
0  As U.S. budget fight looms, Republicans flip t...
1  U.S. military to accept transgender recruits o...
2  Senior U.S. Republican senator: 'Let Mr. Muell...
3  FBI Russia probe helped by Australian diplomat...
4  Trump wants Postal Service to charge 'much mor...

                                                text       subject       date  \
0  WASHINGTON (Reuters) - The head of a conservat...  politicsNews  31-Dec-17
1  WASHINGTON (Reuters) - Transgender people will...  politicsNews  29-Dec-17
2  WASHINGTON (Reuters) - The special counsel inv...  politicsNews  31-Dec-17
3  WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews  30-Dec-17
4  SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews  29-Dec-17

   Class
0      1
1      1
2      1
3      1
4      1

In [23]:
df1.shape, df2.shape

((23502, 5), (21417, 5))

In [28]:
# Creating a new DataFrame with the last 10 rows of df1 for testing
df1_manual_testing = df1.tail(10).copy()

# Drop the last 10 rows from df1
for i in range(len(df1) - 1, len(df1) - 11, -1):
    df1.drop([i], axis=0, inplace=True)

In [29]:
# Creating a new DataFrame with the last 10 rows of df1 for testing
df2_manual_testing = df2.tail(10).copy()

# Drop the last 10 rows from df1
for i in range(len(df2) - 1, len(df2) - 11, -1):
    df2.drop([i], axis=0, inplace=True)

In [30]:
df1_manual_testing['class'] = 0
df2_manual_testing['class'] = 1

In [50]:
# Merging df1 and df2 
merged_df = pd.concat([df1, df2], ignore_index=True)

# Sort by date
merged_df.sort_values('date', inplace=True)

# Drop all duplicates, keeping the last occurrence
merged_df.drop_duplicates(keep='last', inplace=True)

# Reset index
merged_df.reset_index(drop=True, inplace=True)

# Printing first 10 rows
print(merged_df.head(10))

                                               title  \
0           oros-backed Center for American Progress
1                                     orporate media
2                                            al race
3  shares for Las Vegas casinos took a significan...
4   outlets who happened to veer from the party l...
5    rime of which he was accused.In October of 2017
6  rtion into developing regions of the world.Nat...
7  e more time. In the film s final surreal sequence
8                              ersed by circumstance
9  x trafficking   including at least two such ex...

                                                text  \
0        and is heavily funded by Democracy Alliance
1   it s much easier to scapegoat an existential ...
2   it s certainly an old lesson by now. Dependin...
3   which owns the Mandalay Bay hotel near where ...
4    like the fraudulent story published in The Post
5   another controversial nugget in the JFK files...
6   while criticizing their conservative counterp...
7   we see Mickey and Mallory driving in an RV as...
8   chance and human agency. We have only to refl...
9                Democratic Congressman Barney Frank

                                             subject  \
0   of which Soros is a major financier.Mercy Cor...
1                               the defense industry
2   Karl Marx is either a villain or a hero of so...
3   fell 5.6 percent Monday. Wynn Resortsslipped ...
4   claimed that hundreds of alternative media we...
5                           and so is Mr. Katzenbach
6                                         high taxes
7                            a future nuclear family
8   state systems with outsized pretensions to po...
9   decided not to seek re-election. While much o...

                                                date  Class
0   Mercy Corps places all blame for Palestinian ...      0
1   and the new  security  industry   collectivel...      0
2   but he left us some interesting quotes. Marx ...      0
3     during another high-profile Las Vegas shooting      0
4   holding them up as  proof  of some crisis in ...      0
5   is having something issued so we can convince...      0
6                             military spending cuts      0
7               one without traditional moral values      0
8   reflecting the ossification of its ruling elites      0
9   there was virtually no mention of his involve...      0

In [51]:
# Verifying  what is in "Class" column after merging
class_column = merged_df['Class']

# Printing the 'Class' column
print(class_column)

0        0
1        0
2        0
3        0
4        0
        ..
44646    0
44647    0
44648    0
44649    0
44650    0
Name: Class, Length: 44651, dtype: int64

In [55]:
# Printing the unique values in the 'Class' column
print(class_column.unique())

[0 1]

In [56]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [57]:
def clean_text(text):
    # Convert text to lowercase
    text = text.lower()

    # Remove URLs
    text = re.sub(r'https?://\S+|www\.\S+', '', text)

    # Remove HTML tags
    text = re.sub(r'<.*?>', '', text)

    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # Remove numbers
    text = re.sub(r'\d+', '', text)

    # Tokenize the text
    words = word_tokenize(text)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if word not in stop_words]

    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    words = [lemmatizer.lemmatize(word) for word in words]

    # Join the words back into a single string
    cleaned_text = ' '.join(words)
    
    return cleaned_text

In [58]:
# Example 
dirty_text = "This is an example sentence with some numbers like 123, and special characters !@#$, as well as URLs https://www.example.com"
cleaned_text = clean_text(dirty_text)
print(cleaned_text)

example sentence number like special character well url